div.center-block.you-dont-have-project(*ngIf="project == null")
  h1.text {{ title }}
div(*ngIf="project != null")
  project-list-elem([title]="project.title", [description]="project.description", subtitle="{{ (project.lastStatus) ? project.lastStatus.status : null }}", [image]="project.image", [id]="project.id", [manager]="project.manager", [date]="project.date", [isOpenSettings]="project.editable")
  div.container.project-post-block
    div.row.jc-fe
      div.common-block.col-sm-9.col-xs-12.action-post.np(*ngIf="project.editable")
        div.content.block-common-style
          div.top-block
            menu-block(*ngFor='let element of actions; let i = index; trackBy: trackByFn', [title]="element.title", [ischecked]="element.id == actionCheckedID", [url]="element.url", [icon]="element.icon", [class]="element.css", [action]="element.action")
          div.bottom-block
            form.form-block.row([formGroup]="myForm")
              div.col-xs-12.row(*ngIf="actionCheckedID == 0")
                div.input-block.col-sm-9.col-xs-12
                  message-form((isUpload)="isUploadFile($event)", (inputChange)="postMessageInput($event)", [uploadFiles]="setUploadFiles", (changeFiles)="changeFiles($event)", [resetAll]="resetAll")
                div.col-sm-3.col-xs-12.f-right
                  button.cbutton((click)="addPost(myForm.value, myForm.valid)") Add post
            form.form-block.row([formGroup]="myForm")
              div.col-xs-12.row(*ngIf="actionCheckedID == 1")
                div.input-block.col-xs-12.col-sm-9
                  input(name="text", placeholder="New status", type="text", formControlName="text", id="text", [value]="(project.lastStatus) ? project.lastStatus.status : '23'")
                div.col-sm-3.col-xs-12.f-right
                  button.cbutton((click)="changeStatus(myForm.value, myForm.valid)") Change status
            form.form-block.row([formGroup]="myForm")
              div.col-xs-12.row(*ngIf="actionCheckedID == 2")
                div.input-block.col-xs-12.col-sm-9
                  email-tag(name="clients", placeholder="Title", type="clients", id="clients", (valueChange)="changeClients($event)", [setEmails]="clients")
                div.col-sm-3.col-xs-12.f-right
                  button.cbutton((click)="updateClients(true)", [disabled]="!isChangeClients", [ngClass]="{disabled: !isChangeClients }") Update
    div.row.jc-fe
      div.common-block.col-sm-9.col-xs-12.post.action-post(*ngFor="let post of posts")
        post([post]="post")
