div
  form.form-modal.form-block([formGroup]="myForm")
    div.remove-project(*ngIf="isEdit")
      div.remove((click)="archiveProject()", *ngIf="!isArchived")
        svg-icon(src="assets/archive.svg" block="mh-svg" mod="common awesome" style="width: 21px;margin: -3px 0;")
        p Archive project
      div.remove((click)="removeProject()", *ngIf="isArchived")
        svg-icon(src="assets/delete.svg" block="mh-svg" mod="common awesome")
        p Delete project
    h1 {{ typeWindow }}
    div.row
      div.input-block.col-sm-6
        label.context(for="title") Title
        input(name="title", placeholder="New project", type="text", formControlName="title", id="title")
      div.input-block.col-sm-6
        label.context(for="manager") Project manager
        select-user([event]="event_click", name="manager", class="select-user-block", type="manager", id="manager", [input]="manager", (valueChange)="valueChange($event)", [users]="users")
    div.row
      div.input-block.col-xs-12
        limit-input( [label]="'Description'", [value]="description", (inputChange)="inputChange($event)")
    div.row.jc-sb
      div.input-block.col-xs-12
        label.context(for="clients") Clients
        email-tag([event]="event_click", name="clients", placeholder="Title", type="clients", id="clients", (valueChange)="changeClients($event)", [setEmails]="clients")
    div.row.jc-sb
      div.input-block.col-sm-6(*ngIf="!isEdit")
        label.context(for="status") Initial status
        input(name="status"  placeholder="Status", type="status", formControlName="status", id="status", [value]="status")
    div.row.jc-sb
      div.input-block.col-sm-8.col-xs-12
        label.context Thumnail
        //-file-upload([upload]="callback_upload", (valueChange)="imageKeyChange($event)", [ext]="photoExt", [image]="image")
      div.input-block.col-sm-3.col-xs-12.f-right.align-center
        mh-button((click)="save(myForm.value, myForm.valid)",[title]="typeWindow",mods="big padding common radius margin all-width",text-mods="common")
